/*Éléments principaux de la page */

html,body 
{
    font-family: Raleway; Sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.etoiles {
    color: #0065fc;
    display: block;
    
}


.hostingMainCardGradeIconEmpty {
    color: #D9D9D9;
}



.introduction {
    color: black;
    font-weight: bold;
}


                                       
.colorBleu {
    color: #0065fc;
}

.colorBlack {
    color:black;
}

.sizeLien {
    width: 140px;
    height: 99px;
}

.sizeLiens {
    width: 45%;
}

.colorLien13 {
    color: blue;
}

.colorLien2 {
    color: black;
}

.colorBleuClair {
    color: #deebff
}

.colorGris {
    color: #f2f2f2;
}

.bacBleu {
    background-color: #0065fc;
}

.bacBleuClair {
    background-color: #deebff
}

.bacGris {
    background-color: gray;
}

.decorationNone {
    text-decoration: none;
}


.texteGras {
    font-weight: bold;
}

.icon-location {
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    height: 70px;
    border-radius: 10px 0 0 10px;

}

.flexCentre {
    display: flex!important;
    justify-content: center;
    align-items: center;
}

.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexBetween2 {
    display:flex;
    justify-content: flex-end;
}
.bordureSearch {
    width: 400px;
    border-radius: 10px;
    border-color: gray;
    
}

.bordureNone {
    border: none;
}

.iconSize {
    height: 54px;
    width: 54px;
    border-radius: 10px 0 0 10px;
    background-color: rgb(231, 228, 228);  
}  

.recherche {
    display: flex!important;
    height: 51px;
    width: 210px;
    font-size: 18px;
    background-color: white;
    font-weight: bold;
    border: 5px;
    border-color: rgb(167, 166, 166);
    
}

.buttonSearch {
    height: 53px;
    width: 125px;
    background-color: #0065fc;
    font-size: 18px;
    font-weight: bold;
    color:white;
    border : none;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    width: 125px;
    margin-right: 2px;
    margin-left: 2px;
    border: 1px gray solid;
}

.buttonSearch:hover {
    color:white;
    background-color: blue;
}


.paddingSearch {
    padding-left: 20px;
}

    /* PARTIE 1 - HEADER */
                                        
#logo {
display: flex;
flex-direction: row;
align-items: baseline;
                                        
}
                                        
#logo img {
width: 120px;
height: 50px;
}
                                        
/* Navigation */

.bordureNav {
    border: 2px solid blue;
}

.flexCentre2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
                                        
nav ul {
list-style-type: none;
display: flex;
                                        
}

nav li {
margin-right: 70px;
}
                                        
nav a {
    text-decoration: none;
    
}

.sizeLien > .bordureNav {
    background: #0065fc;
}

  /* PARTIE 2 - BLOC TITRE h1*/

     /* Les Filtres */

.filtre li {
    margin-right: 25px;
}

.filtre {
    display: flex;
    align-items: center;
}

.margFiltre {
    margin-top: 50px;
    margin-bottom: 15px;
}

.filtreTexteIcons {
    border: 2px solid #c7c5c5;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
    font-weight: bold;
    cursor: pointer;
    background: white;
    transition-duration: 0.25s;
}

.filtreTexteIcons:hover > .filtreTexte {
    background-color: rgb(228, 246, 252);
}

.filtreTexIcons:hover > .filtreIcons {
    color: white;
    background-color: #0065fc;   
}

.filtreTexte {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
}

.filtreIcons {
    margin-left: -2px;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065fc;
    background-color:  #deebff;
    font-weight: bold;
    border: bold;
}

/* Page Filtre Info */ 

.infoFiltre {
    display: flex;
    justify-content: center;
}

.infoIcon {
    border-radius: 20px;
    border: 1px solid #c7c5c5;
    width: 31px;
    height: 31px;
    background-color: white;
    color: #0065fc;
    display: flex!important;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    
}

.margFiltreInfo {
    margin-top: 10px;
    font-weight: bold;
    display: flex!important;  
}

/* Section Hébergements */

/* Hébergements à Marseille */

.contenerHebergements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(240, 238, 238);
    border-radius: 20px;
    border: 5px solid transparent;
    box-shadow: 0px 0px 6px 0px #0000002e;
    grid-gap: 30px;
    padding: 0 0 0 0;  
    margin-bottom: 20px;
}

.lacasedemarseille {
    padding-left: 7px;
	padding-right: 7px;
	padding-top: 7px;
	width: 100%;
	height: 210px;
	background-color: white;
	border-radius: 20px 20px 20px;
	object-fit: cover;
	object-position: 60% 80%;
	box-shadow: 1px 1px 15px rgb(111 111 111);
    padding-bottom: 30px;
}


.lacasedemarseille .casedetexte {
    width: 100%;
    height: 95px;
    border-radius: 20px 0 0 15px;
    margin: auto;
}


.lacasedemarseille:hover {
    cursor: pointer;
    transform: scale(1.05);
}


.contenerHebergements a{
    flex-basis: 31%;

}


.groupeA {
    display: flex;
    width: 100%;
    padding-right: 20px;
    border-radius: 15px 15px; 0 0;
    
}

.bloc {
    background-color: rgb(240, 238, 238) ;
    margin-top: 30px;
    margin-bottom: 80px;
    
}


.flexColumnCentre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexColumnAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flexColumnBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.blocHebergements {
    width: 70%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px  
    
}

.imgHebergements1 {
    background-image: url("images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.imgHebergements2 {
    background-image: url("images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
    
}

.imgHebergements3 {
    background-image: url("images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
    
}

.imgHebergements4 {
    background-image: url("images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
    
}

.imgHebergements5 {
    background-image: url("images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
    
}

.imgHebergements6 {
    background-image: url("images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;

    

}


/* Les Populaires */

.blocPopulaire2 {
    margin-bottom: 20px;
}

.cubeDetailsPolulaires {
    width: 60px;
    padding-left: 5%;
}

.cubePopulaires {
    display: flex;
    margin: 0;
    background-color: white;
    border-radius: 20px;
    padding: 7px 0 7px 7px;
    box-shadow: 0px 0px 6px 0px #0000002e;
    margin-bottom: 40px;
}

.cubePopulaires:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.les-plus-populaires-img img {
    border-radius: 20px 0 0 15px;
    min-width: 80px;
    height: 135px;
    object-fit: cover;
    width: 150px;
    margin-right: 20px;
    margin-bottom: 150px;

}

.blocPopulaires {
    margin-left: 2%;
    border-radius: 20px 0 0 15px;
    object-fit: cover;
    padding-right: 20px;
    padding-left: 20px;
    width: 28%;
    border-radius: 10px;
    display: block;
    margin-bottom: 80px;
  
}

.les-plus-populaires-img {
   max-height: 135px;
   border-radius: 20px 0 0 15px;
   object-fit: cover;

}



/* Section2 Activités */

/*Bloc Titre h1 */

.bloc1 {
    width: 23%;
    margin: 10px;
}

.bloc1:hover {
    cursor: pointer;
    transform: scale(1.05); 
}

.sectionactivite  figure {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
}


.bloc1 img {
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 0 0px;
    object-fit: cover;
    object-position: 60% 80%;   
}


.sectionactivite figcaption {
    padding-left: 5px;
    border-radius: 0 0 20px 20px;
    background-color: white;
    width: 100%;
    box-shadow: 1px 1px 15px rgb(111 111 111);
}


.sectionactivite {
    display: flex;
      
}


.bloc2 {
    width: 23%;
    margin: 10px;
}


.sectionactivite  figure {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
}



.bloc2 img {
    width: 100%;
    height: 100px;
    border-radius: 20px 20px 0 0px;
    object-fit: cover;  
    object-position: 60% 80%;
}


.bloc2 img {
    display: flex;
    flex-wrap: wrap; 
    align-content: space-between;
    margin: auto;
}   

.fortdePomegues {
    margin-bottom: 40px;
    display:block;
}

.fortdePomegues:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.ilesdufrioul {
    margin-bottom: 40px;
    display:block;
}

.ilesdufrioul:hover {
    cursor: pointer;
    transform: scale(1.05);
}


.sectionactivite figcaption {
    padding-left: 5px;
    border-radius: 0 0 20px 20px;
    background-color: white;
    width: 100%;
    box-shadow: 1px 1px 15px rgb(111 111 111);
}


.bloc3 {
    width: 23%;
    margin: 10px;
}

.bloc3:hover {
    cursor: pointer;
    transform: scale(1.05);

}

.sectionactivite  figure {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
}



.bloc3 img {
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 0 0px;
    object-fit: cover;
    object-position: 60% 80%;
}



.sectionactivite figcaption {
    padding-left: 5px;
    border-radius: 0 0 20px 20px;
    background-color: white;
    width: 100%;
    box-shadow: 1px 1px 15px rgb(111 111 111);
}



.bloc4 {
    width: 23%;
    margin: 10px;
}


.sectionactivite  figure {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
}

.notredame {
    margin-bottom: 40px;
    display:block;
}

.notredame:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.parclongchamps {
    margin-bottom: 40px;
    display:block;
}

.parclongchamps:hover {
    cursor: pointer;
    transform: scale(1.05);
}


.bloc4 img {
    width: 100%;
    height: 100px;
    border-radius: 20px 20px 0 0px;
    object-fit: cover;

    }
    


.sectionactivite figcaption {
    padding-left: 5px;
    border-radius: 0 0 20px 20px;
    background-color: white;
    width: 100%;
    box-shadow: 1px 1px 15px rgb(111 111 111);
}


/* Footer */

.tailleBlocFoot {
    height: 150px;
}

.footer {
    height: 150px;
    margin-top: 40px;
    background-color: rgb(240, 238, 238) ;
    margin-left: 10px;
    
}

.margeBlocFoot1 {
    margin-left: 1%;
    justify-content: flex-start;
}   

.margeBlocFoot3 {
    margin-right: 15%;
}

.footerlink {
    display: flex;
    flex-direction: column;
}

.footerFlex {
    display: flex;
    justify-content: space-between;
    
}

.lienFoot {
    color: black;
}

.divLienFoot {
    height: 30px;
   
}