/*Éléments principaux de la page */

html,body {
    font-family: Raleway;
}
.colorBleu {
    color: #0065fc;
}

.colorBleuClair {
    color: #deebff
}

.colorGris {
    color: #f2f2f2;
}

.bacBleu {
    background-color: #0065fc;
}

.bacBleuClair {
    background-color: #deebff
}

.bacGris {
    background-color: gray;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: baseline;

}

#logo img {
    width: 120px;
    height: 50px;
}

/* Navigation */

nav ul {
    list-style-type: none;
    display: flex;

}
nav li {
    margin-right: 70px;
}

nav a {
    text-decoration: none;
}


/*Bloc Titre h1 */

.texteGras {
    font-weight: bold;
}

.icon-location {
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    height: 70px;
    border-radius: 10px 0 0 10px;

}

.flexCentre {
    display: flex;
}

.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bordureSearch {
    width: 400px;
    border-radius: 10px;
    border-color: gray;
    border: 0.5px;

}

.bordureNone {
    border: none;
}

.iconSize {
    height: 54px;
    width: 54px;
    border-radius: 10px 0 0 10px;
    background-color: rgb(231, 228, 228);
}  

.recherche {
    display: flex;
    height: 51px;
    width: 218px;
    font-size: 18px;
    background-color: white;
    font-weight: bold;
    border: 5px;
    border-color: rgb(167, 166, 166);
}

.buttonSearch {
    height: 53px;
    width: 500px;
    background-color: #0065fc;
    font-size: 18px;
    font-weight: bold;
    color:white;
    border : none;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    width: 300px;
    margin-right: 2px;
    margin-left: 2px;
}

.paddingSearch {
    padding-left: 20px;
}

     /* Les Filtres */

.filtre ul {
    list-style-type: none;
    display: flex;
}

.filtre li {
    margin-right: 25px;
}

.filtre {
    display: flex;
    justify-content: flex-start;
}

.margFiltre {
    margin-top: 100px;
    margin-bottom: 100px;
}

.filtreTexteIcons {
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}

.filtreTexteIcons:hover > .filtreTexte {
    color: #0065fc
}

.filtreTexIcons:hover > .filtreIcons {
    color: white;
    background-color: #deebff;
    cursor: pointer;
}

.filtreTexte {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
}

.filtreIcons {
    margin-left: -2px;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065fc;
    background-color: #deebff;
    font-weight: bold;
    border: bold;
}

/* Page Filtre Info */ 

.infoFiltre {
    display: flex;
    justify-content: flex-start;
}

.infoIcon {
    border-radius: 21px;
    width: 31px;
    height: 31px;
    background-color: #eff0f1;
    color: #0065fc;
    display: flex;
    justify-content: flex-start;
    border: bold;
}

.margFiltreInfo {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Section Hébergements */

/* Hébergements à Marseille */

.contenerHebergements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contenerHebergements a{
    flex-basis: 31%;

}


.groupeA {
    display: flex;
    width: 100%;
    padding-right: 20px;
    border-radius: 15px 15px; 0 0;

}

.bloc {
    background-color: rgb(240, 238, 238) ;
}


.flexColumnCentre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexColumnAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flexColumnBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.imgHebergements1 {
    background-image: url("images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.imgHebergements2 {
    background-image: url("images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.imgHebergements3 {
    background-image: url("images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.imgHebergements4 {
    background-image: url("images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.imgHebergements5 {
    background-image: url("images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.imgHebergements6 {
    background-image: url("images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}


/* Les Populaires */

.blocPopulaire2 {
    margin-bottom: 20px;
}

.cubeDetailsPolulaires {
    width: 60px;
    padding-left: 5%;
}

.cubePopulaires {
    background-color: white;
    height: 170px;
    border-radius: 20px;
    margin-bottom: 5%;

}

.blocHebergements {
    width: 70%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}


.blocPopulaires {
    padding-right: 20px;
    padding-left: 20px;
    width: 28%;
    margin-left: 2%;
    display: flex;
    border-radius: 10px;
    
}

.les-plus-populaires-img {
    width: 35%;
    height: 100%;


}

.les-plus-populaires-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Section2 Activités */

.sectionactivite {
    display: flex;
    align-content: flex-start
    
}

.Activites {
    margin-top: 50px;
    margin-bottom: 50px;
}

.blocActivites {
    width: 100%;
    height: 600px;
}

.blocActivites2356 {
    width: 23%;
    height: 600px;


}

.imgActivites1 {
    background-image: url("images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 310px;
    height: 530px;
    margin-right: 2%;
    border-radius: 15px 15px 0 0; 
    display: flex;
    flex-direction: column;
}

.imgActivites2 {
    background-image: url("images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 310px;
    height: 250px;
    margin-right: 2%;
    border-radius: 15px 15px 0 0; 
    
}

.imgActivites3 {
    background-image: url("images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 310px;
    height: 150px;
    margin-right: 2%;
    border-radius: 15px 15px 0 0; 
   
}

.imgActivites4 {
    background-image: url("images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 310px;
    height: 530px;
    border-radius: 15px 15px 0 0; 
    
}
.imgActivites5 {
    background-image: url("images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 310px;
    height: 150px;
    border-radius: 15px 15px 0 0; 
    
}

.imgActivites6 {
    background-image: url("images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 310px;
    height: 150px;
    border-radius: 15px 15px 0 0; 
    
    
}

/* Reglage Bloc */

.cubeActivites {
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2ff;
}

/* Reglage Bloc */

.cubeActivites2356 {
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #f2f2ff;
}

/* Fin reglage bloc */

.hauteurTitre {
    height: 45px;
}

.titreActivites {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 95%;
}

/* Footer */

.tailleBlocFoot {
    height: 150px;
}

.footer {
    height: 300px;
    margin-top: 100px;
    
}

.margeBlocFoot1 {
    margin-left: 1%;
    justify-content: flex-start;
}   

.margeBlocFoot3 {
    margin-right: 15%;
}

.footerlink {
    display: flex;
    flex-direction: column;
}

.footerFlex {
    display: flex;
    justify-content: space-between;
    
}